* {
	margin:0;
	padding:0;
}

body {
  min-width:357px;
  overflow-x:hidden;
}

body * {
	line-height:1.4em;
}

img {
  margin:5px;
  border:2px solid black;
  vertical-align:middle;
  width:75px;
  height:75px;
}

a {
	color:#4183C4;
	text-decoration:none;
}

#search_text {
	width: 75%;
}

#search_button {
	width: 20%;
}

a {
	color:#4183C4;
	text-decoration:none;
}

h3 {
	font-size:14px;
	margin:0;
}

p.description  {
	color:#333333;
	font-size:12px;
	margin:2px 0 10px;
}

/* graciously ripped from github */
ul.repositories{margin:0;}
ul.repositories+p.more{margin-top:20px;font-weight:bold;}
ul.repositories>li{list-style-type:none;margin:0 0 5px 0;padding:5px 11px 0 11px;background:#f5f5f5;border:1px solid #ddd;}
ul.repositories>li.simple{margin:0;padding:6px 0 4px 0;background:transparent;border-left:none;border-right:none;border-top:none;}
ul.repositories h3{margin:0;font-size:14px;}
ul.repositories li.simple h3{display:inline-block;}
ul.repositories ul.repo-stats{float:right;margin:0;border:none;background:transparent;}
ul.repositories ul.repo-stats li{list-style-type:none;margin:0 0 0 2px;display:inline;border:none;line-height:1.2;}
ul.repositories p.description{margin:2px 0 10px 0;font-size:12px;color:#333;}
ul.repositories li.simple p.description{display:none;}
ul.repositories .meta{width:100%;padding:3px 11px;margin-top:5px;margin-left:-11px;color:#999;font-size:11px;background:#fafafa;border-top:1px solid #ddd;}
ul.repositories .meta p{margin:0;}
ul.repositories ul.repo-stats li a.pill{display:inline-block;margin:0!important;height:auto;padding:1px 5px 1px 20px;font-size:10px;line-height:1.3;font-weight:bold;color:#666;border:1px solid #ddd;-webkit-border-radius:5px;-moz-border-radius:5px;background:url(assets/pill_icon_matrix.gif) 0 0 no-repeat #fff;}
ul.repositories ul.repo-stats li a.pill:hover{text-decoration:none;color:#fff;background-color:#4183c4;border-color:#4183c4;}
ul.repositories ul.repo-stats li a.pill-watchers{background-position:5px 3px;}
ul.repositories ul.repo-stats li a.pill-watchers:hover{background-position:5px -17px;}
ul.repositories ul.repo-stats li a.pill-forks{background-position:5px -37px;}
ul.repositories ul.repo-stats li a.pill-forks:hover{background-position:5px -57px;}
